footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}

nav a:hover {
  color: #fca311;
}
